.about_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_section img {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

.about_section article {
  width: 50%;
  padding-left: 50px;
}
