header {
  display: flex;
  justify-content: space-between;
  padding: 15px 200px;
  align-items: center;
  position: absolute;
  color: white;
  width: 70vw;
}

.right_header {
  display: flex;
  gap: 35px;
}

.nav_social,
.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}
