header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 60;
  background-color: #10101ae7;
}

.right_header {
  display: flex;
  gap: 35px;
}

.nav_social,
.nav_menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

.flip_e {
  transform: rotateY(180deg);
  display: inline-block;
}

h2 {
  font-size: 2.3em;
  padding-left: 0;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  header {
    display: none;
  }
  h2 {
    font-size: 1.5em;
  }
  .right_header {
    gap: 4px;
    flex-direction: row-reverse;
  }

  .nav_menu {
    gap: 8px;
    flex-direction: column;
  }

  .nav_social {
    display: none;
  }
}
