/* Slide section */

.swiper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.swiper-pagination-bullet {
  background-color: grey;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

/* description */

.work_section {
  height: 100vh;
  color: white;
}
.tindog {
  background: url(/assets/images/tindog2.png);
}

.jadoo {
  background: url(/assets/images/jadoo.png);
}
.layer {
  background-color: rgba(0, 0, 0, 0.911);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.work_information {
  position: absolute;
  bottom: 30vh;
  left: 20vw;
  font-size: larger;
}

.layer ul {
  display: flex;
  list-style: none;
  gap: 10px;
  padding-left: 0;
  font-weight: bold;
  margin-top: 50px;
}

.swiper-button-next {
  color: white;
  right: 50px;
}

.swiper-button-prev {
  left: 50px;
  color: white;
}
