.work-section {
  height: 100vh;
  color: white;
  margin: 0 400px;
  position: relative;
}

.container_title {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
}

.main_container figure {
  display: flex;
  align-items: center;
}

.main_container {
  filter: drop-shadow;
}

.work-section ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
  padding: 0 50px;
  color: white;
}

.work-section h6 {
  position: absolute;
  top: 310px;
}

.swiper-button-next {
  color: white;
  right: 50px;
}

.swiper-button-prev {
  left: 50px;
  color: white;
}

.swiper-pagination-bullet {
  background-color: grey;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

h5 {
  text-transform: capitalize;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-weight: 500;
}

.below {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.website_info {
  display: flex;
}
