.work-section {
  height: 90vh;
  color: white;

  width: 95vw;
}

.work_image {
  display: flex;
  justify-content: center;
}

.main_container {
  filter: drop-shadow;
}

.work-section ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
  padding: 0 50px;
  color: white;
}

.swiper-button-next {
  color: white;
  right: 150px;
}

.swiper-button-prev {
  left: 150px;
  color: white;
}

.swiper-pagination-bullet {
  background-color: grey;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

h5 {
  text-transform: capitalize;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-weight: 500;
}

.below {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.website_info {
  display: flex;
}

.bottom_work {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.work-section h4 {
  text-align: center;
}

.work-section img {
  text-align: center;
}
